@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); 
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

body{
    /* overflow: hidden; */
    background: #333;
    color:#fff;
}
nav{
    padding: 8px;
    text-align: left;
    font-size: x-large;
}
nav span{
    font-size: large;
}
h2{
    font-size: 35px;
    font-weight: 300;
    margin: 8px;
}

h2 span{
    font-size: 30px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.container > div{
    cursor: pointer;
    height: 20vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all .3s ease;
    overflow: hidden;
}
.container>div:hover{
    opacity: .7;
    transform: scale(.999);
}
.container > div:nth-of-type(1)
{
    grid-column:1/3;
}
.container > div:nth-of-type(6)
{
    grid-column:3/5;
}
.container > div:nth-of-type(9)
{
    grid-column:3/5;
}
.container > div:nth-of-type(10)
{
    grid-column:1 / 3;
}

.bg1{
    background: rgb(65, 34, 34);
}

.bg2{
    color:#333  ;
    background: #ddc4a8;
}

.popups{
    margin:10px;
    display: block;
    position: absolute;
    top:50px;
    background: #fff;
    color:#333;
    margin:50px;
    width:60vw;
    left:15vw;
    overflow: auto;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
}
.Tests{
    font-size: 40px;;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #333;
}
.Tests h2{
    font-weight: 800;
}
.Tests h2 span{
    font-weight: 500;
}